.base {
  --background: var(--neutral-0);
  --foreground: var(--neutral-900);
  --border: var(--neutral-900);
  --shadow: hsl(0, 0%, 0%);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75rem;
  padding: 0px 12px;
  gap: 10px;

  background: var(--background);
  color: var(--foreground);
  border: 1px solid var(--border);
  box-shadow: 1px 1px 0px var(--shadow);
  border-radius: 999px;
}
