.trigger {
  cursor: pointer;
  background: none;
  border: none;
  position: relative;
  outline: none;

  &[data-focus-visible] {
    outline: 2px solid var(--focus);
  }

  &::after {
    --tap-increment: -16px;
    content: "";
    position: absolute;
    top: var(--tap-increment);
    left: var(--tap-increment);
    right: var(--tap-increment);
    bottom: var(--tap-increment);
  }
}

.menu {
  --background: var(--neutral-0);
  --foreground: var(--neutral-900);
  --border: var(--neutral-900);
  --shadow: hsla(25, 96%, 9%, 0.2);

  outline: none;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  min-width: 140px;

  background: var(--background);
  border: 1px solid var(--border);
  border-radius: 8px;
  /* hide items border radius */
  overflow: hidden;

  box-shadow: 0px 3px 8px;
}

.menuItem {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  font-weight: 500;
  color: var(--foreground);

  outline: none;

  &:not(:last-child) {
    border-bottom: 1px solid var(--border);
  }

  &[data-focus-visible],
  &[data-hovered] {
    background: var(--focus);
    color: var(--focus-foreground);
  }
}
