.base {
  --columns: 1;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 20px;

  @media (min-width: 45rem) {
    --columns: 2;
  }

  @media (min-width: 75rem) {
    --columns: 3;
  }
}
