.base {
  --border: var(--neutral-900);
  --shadow: var(--neutral-900);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;
  cursor: pointer;

  height: 2.6875rem;

  background: var(--primary);
  color: var(--primary-foreground);
  border: 1px solid var(--border);
  box-shadow: 2px 2px 0px var(--shadow);
  border-radius: 999px;
}
