.base {
  --border: var(--neutral-900);
  --shadow: var(--neutral-900);
  --color: var(--primary-foreground);
  --background: var(--primary);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;
  cursor: pointer;

  height: 2.6875rem;

  background: var(--background);
  color: var(--color);
  border: 1px solid var(--border);
  box-shadow: 2px 2px 0px var(--shadow);
  border-radius: 999px;

  font-weight: 600;
}

.base.primary {
  --color: var(--primary-foreground);
  --background: var(--primary);
}

.base.secondary {
  --color: var(--secondary-foreground);
  --background: var(--secondary);
}
