.base {
  --background: var(--neutral-0);
  --foreground: var(--neutral-900);
  --border: var(--neutral-900);
  --shadow: var(--neutral-900);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 2.5rem;
  padding: 0px 16px;
  min-width: 18.75rem;

  background: var(--background);
  border: 1px solid var(--border);
  box-shadow: 0px 3px 8px rgba(46, 20, 1, 0.2),
    2px 2px 0px var(--shadow);
  border-radius: 999px;
}

.message {
  font-weight: 500;
  color: var(--foreground);
}

.close {
  border: none;
  background: none;
  cursor: pointer;
}
