.base {
  --background: var(--neutral-0);
  --foreground: var(--neutral-900);
  --border: var(--neutral-900);

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background: var(--background);
  color: var(--foreground);
  border-radius: 16px;

  border-width: 1px 3px 3px 1px;
  border-style: solid;
  border-color: var(--border);
}

.header {
  padding: 16px;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.2;

  border-bottom: 1px solid var(--border);
}

.body {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding: 16px;

  font-style: normal;
  font-weight: 500;
}

.answerLabel {
  opacity: 0.6;
}

.footer {
  padding: 16px;
  display: flex;
  justify-content: flex-start;
}
