.base {
  --background: var(--neutral-0);
  --border: var(--neutral-900);
  --shadow: var(--neutral-900);

  display: flex;
  padding: 4px;
  gap: 4px;

  background: var(--background);
  border: 1px solid var(--border);
  box-shadow: 1px 2px 0px var(--shadow);
  border-radius: 999px;
}

.pageLinkWrapper {
  position: relative;
  height: 2.75rem;
  display: grid;
  place-items: center;
  padding: 0px 16px;
}

.background {
  position: absolute;
  inset: 0;

  background: var(--primary);
  border: 1px solid var(--border);
  border-radius: 999px;
}

.pageLink {
  --foreground: var(--neutral-900);
  --background: transparent;
  --border: transparent;
  position: relative;

  font-weight: 600;
  color: var(--foreground);
  background: var(--background);

  text-decoration: none;
}
