.overlay {
  position: fixed;
  inset: 0;
  background: var(--overlay);
  backdrop-filter: blur(1px);
  padding: 8px;
  display: grid;
  place-content: center;
}

.modal {
  --foreground: var(--neutral-900);
  --background: var(--neutral-0);
  --border: var(--neutral-900);

  position: relative;
  outline: none;

  width: calc(100vw - 16px);
  max-width: 37.5rem;
  background: var(--background);
  border-width: 1px 4px 4px 1px;
  border-style: solid;
  border-color: var(--border);
  border-radius: 16px;
}

.dialog {
  outline: none;
}

.closeBtn {
  position: absolute;
  cursor: pointer;
  border: none;
  background: none;
  top: 16px;
  right: 16px;

  &::after {
    --tap-increment: -8px;
    content: "";
    position: absolute;
    top: var(--tap-increment);
    left: var(--tap-increment);
    right: var(--tap-increment);
    bottom: var(--tap-increment);
  }
}
