:root {
  /* Colors */
  --neutral-900: hsl(24, 96%, 9%);
  --neutral-600: hsl(25, 17%, 36%);
  --neutral-100: hsl(24, 40%, 95%);
  --neutral-0: hsl(0, 0%, 100%);

  --yellow-500: hsl(43, 93%, 63%);

  --blue-400: hsl(221, 68%, 75%);
  --blue-600: hsl(222, 52%, 55%);

  --teal-400: hsl(173, 66%, 57%);

  --pink-400: hsl(314, 94%, 76%);
  --pink-500: hsl(337, 80%, 70%);
  --pink-700: hsl(336, 79%, 49%);

  --background: var(--neutral-100);
  --foreground: var(--neutral-900);

  --primary: var(--yellow-500);
  --primary-foreground: var(--neutral-900);

  --secondary: var(--neutral-0);
  --secondary-foreground: var(--neutral-900);
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  padding: 16px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
