.base {
  display: grid;
  gap: 24px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionsGroup {
  display: flex;
  align-items: center;
  gap: 20px;
}
