.base {
  display: grid;
  gap: 24px;
}

.actions {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.actionsGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;

  @media (min-width: 45rem) {
    gap: 20px;
  }
}
