.contentWrapper {
  --border: var(--neutral-900);
  --foreground: var(--neutral-900);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heading {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--foreground);
}

.updateForm {
  display: grid;
  gap: 16px;
}

.submitBtn {
  margin-top: 8px;
  justify-self: end;
}
