.base {
  --hover-distance: 2px;
  position: relative;
  --border: transparent;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 4px;

  &:focus-visible {
    outline: 2px solid var(--focus);
  }

  &::after {
    --tap-increment: -12px;
    content: "";
    position: absolute;
    top: var(--tap-increment);
    left: var(--tap-increment);
    right: var(--tap-increment);
    bottom: var(--tap-increment);
  }

  @media (hover: hover) {
    &:hover .front {
      --border: var(--neutral-900);
      --background: var(--neutral-0);
      transform: translate(
        calc(-1 * var(--hover-distance)),
        calc(-1 * var(--hover-distance))
      );
    }

    &:hover .back {
      --background: var(--neutral-900);
      transition: background 0ms linear 0ms;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    &:hover .front {
      transition: transform 250ms ease-out, background 0ms linear 0ms;
    }
  }
}

.front {
  --background: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  border: 1px solid var(--border);
  background: var(--background);

  @media (prefers-reduced-motion: no-preference) {
    transition: transform 500ms ease-in, border 200ms ease-in 400ms,
      background 0ms linear 500ms;
  }
}

.back {
  --background: transparent;
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: var(--background);

  @media (prefers-reduced-motion: no-preference) {
    transition: background 0ms linear 500ms;
  }
}
