.base {
  --foreground: var(--neutral-900);
  --background: var(--neutral-0);
  --progress: var(--neutral-900);
  --border: var(--neutral-900);
  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: 500;
  letter-spacing: -0.03em;

  color: color var(--foreground);
}

.barWrapper {
  width: 60px;
  height: 0.5rem;

  background: var(--background);
  border: 1px solid var(--border);
  border-radius: 999px;
}

.bar {
  background: var(--progress);
  height: 100%;
  width: var(--width);
  border-radius: 999px;
}

.value {
  opacity: 0.8;
}
